.chatbox-container{
    border-radius: 10px;
    min-height: 70vh;
    height: auto;
    width: 50vw;
    margin-top: 10px;
    padding: 30px;
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.inputfield{
    width: 95%;
    height: 3rem;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.input-text{
    width: 85%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: x-large;
    padding: 12px;
}

.input-text::-webkit-scrollbar{
    display: none;
}

.send-icon{
    font-size: xx-large;
    margin-left: 10px;
    height: auto;
    width: auto;
    background-color: #393E46;
    border: none;
    color: #EEEEEE;
    cursor: pointer;
}

.messages{
    min-height: 80%;
    width: 95%;
    position: relative;
    top: 0%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.message-even{
    height: auto;
    width: 60%;
    padding: 15px 10px;
    margin-left: 14rem;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    font-size: larger;
    background-color: #222831;
}

.message-odd{
    height: auto;
    width: 60%;
    padding: 15px 10px;
    /* margin-left: 14rem; */
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    font-size: larger;
    background-color: #222831;
}